body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e1dd;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.container1,
.container2,
.container3,
.container4,
.container5 {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #415a77;
    color: #fff;
    padding: 20px 0;
}


header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

#intro {
    background-color: #f4f4f4;
}

#projects .project {
    margin-bottom: 20px;
}

footer {
    background-color: #778da9;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    justify-content: center;
    align-items: center;
    display: flex;

}

@media only screen and (max-width: 768px) {
    nav {
        justify-content: center;
        align-items: center;
        display: flex;

    }
}